<p class="title">{{ localization['Enter your secret code from Email'] }}</p>
<p class="codeInput" data-user-id="{{ user_id }}" data-user-tmp-pin="{{ user_tmp_pin }}">
    <input type="text" maxlength="1" size="1" class="input_1">
    <input type="text" maxlength="1" size="1" class="input_2">
    <input type="text" maxlength="1" size="1" class="input_3">
    <input type="text" maxlength="1" size="1" class="input_4">
    <input type="text" maxlength="1" size="1" class="input_5">
    <input type="text" maxlength="1" size="1" class="input_6">
    <input type="text" maxlength="1" size="1" class="input_7">
    <input type="text" maxlength="1" size="1" class="input_8">
</p>
