/* footer
-------------------------------------------------------------- */

@import "../../mixins";

.main-footer{
  padding: 100px 20px 220px;

  @media (max-width: 1024px){
    padding: 40px 20px 0;
  }

  .randomImages{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
    width: 55%;

    @media (max-width: 1024px){
      position: relative;
      bottom: auto;
      right: auto;
      left: auto;
      width: 100%;
    }

    img{
      position: absolute;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      bottom: 0;
      right: 0;
      display: none;
      max-height: 300px;

      @media (max-width: 1024px){
        position: relative;
        right: auto;
        bottom: auto;
      }

      .wp-admin &,
      .wp-embed-responsive &{
        &:first-child{
          display: block;
        }
      }
    }
  }

  .customBlock{
    margin: 0 auto;
    max-width: 1180px;

    .columns{
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @media (max-width: 1024px){
        flex-direction: column;
      }

      & > *{
        width: 50%;

        @media (max-width: 1024px){
          width: 100%;
        }

        &:first-child{
          text-align: center;
          padding-right: 20px;

          @media (max-width: 1024px){
            padding-right: 0;
            margin-bottom: 20px;
          }

          .title{
            font-size: 51.1429px;
            line-height: 62px;
            margin-bottom: 42px;

            @media (max-width: 1024px){
              font-size: 32px;
              font-weight: 600;
              line-height: 1.2;
              margin-bottom: 32px;
            }
          }

          .overallButton{
            margin-bottom: 26px;

            @media (max-width: 1024px){
              margin-bottom: 18px;
            }
          }
        }

        &:last-child{
          padding-left: 20px;

          @media (max-width: 1024px){
            padding-left: 0;
            margin-bottom: 28px;
          }

          .description{
            padding-top: 12px;
            font-size: 20px;
            line-height: 150%;

            @media (max-width: 1024px){
              font-size: 15px;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
