/* form
-------------------------------------------------------------- */

@import "../../mixins";

.main-form{
  padding: 80px 20px 120px;

  @media (max-width: 1024px){
    padding: 60px 20px 80px;
  }

  @media (max-width: 860px){
    padding: 40px 20px;
  }

  .customBlock{
    margin: 0 auto;
    max-width: 1180px;

    & > .title{
      font-size: 60px;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 48px;
      text-align: center;

      @media (max-width: 1024px){
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 32px;
      }
    }

    .columns{
      display: flex;
      align-items: flex-start;
      justify-content: center;

      @media (max-width: 860px){
        flex-direction: column;
      }

      & > * {
        width: 50%;

        @media (max-width: 860px){
          width: 100%;

          &:first-child{
            margin-bottom: 28px;
          }
        }

        &:first-child{
          padding-right: 20px;
          padding-top: 40px;

          @media (max-width: 860px){
            padding: 0;
          }
        }
        &:last-child{
          padding-left: 20px;

          @media (max-width: 860px){
            padding: 0;
          }
        }
      }

      .typo{
        font-size: 16px;

        @media (max-width: 860px){
          font-size: 15px;
        }
      }

      form{
        background: #E8EAED;
        border-radius: 10px;
        padding: 24px 14px;
        display: block;
        @include transition(all, .35s);

        @media (max-width: 860px){
          padding: 18px 10px;
        }

        &.busy{
          @include opacity(.5);
          pointer-events: none;
        }

        .title{
          font-size: 35px;
          line-height: 42px;
          font-weight: 700;
          margin-bottom: 12px;
          text-align: center;

          @media (max-width: 860px){
            font-size: 28px;
            line-height: 1.2;
          }
        }

        label{
          display: block;
          margin-bottom: 10px;

          &.shake{
            @include animation(shake .5s ease 1);
          }

          p{
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 0.03em;
            margin-bottom: 0;
            color: #1C1E22;
            background-color: white;
            border: 1px solid white;
            border-radius: 4px 4px 0 0;
            padding: 6px 12px 0;
          }

          input{
            display: block;
            width: 100%;
            padding: 4px 12px 6px;
            border-radius: 0 0 4px 4px;
            border: 1px solid white;
            height: 36px;
            box-sizing: border-box;
            background: #FFFFFF;
            font-family: inherit;
            color: #142746;
            font-size: 18px;
            line-height: 1;
            @include transition(all, .35s);

            @include placeholder(){
              color: #8590A2;
            }

            &.red{
              border-bottom: 1px solid #E63756;
            }
          }

          textarea{
            display: block;
            width: 100%;
            padding: 4px 12px 6px;
            border-radius: 0 0 4px 4px;
            border: 1px solid white;
            box-sizing: border-box;
            background: #FFFFFF;
            font-family: inherit;
            color: #142746;
            font-size: 18px;
            line-height: 1.2;
            resize: none;
            max-height: 180px;
            @include transition(all, .35s);

            &.red{
              border-bottom: 1px solid #E63756;
            }
          }

          select{
            display: block;
            width: 100%;
            padding: 4px 12px 6px;
            border-radius: 0 0 4px 4px;
            border: 1px solid white;
            height: 36px;
            box-sizing: border-box;
            background: #FFFFFF;
            font-family: inherit;
            font-size: 18px;
            line-height: 1;
            color: #8590A2;
            @include transition(all, .35s);

            &.selected{
              color: #142746;
            }

            &.red{
              border-bottom: 1px solid #E63756;
            }
          }
        }

        .submitWrapper{
          text-align: center;
          padding-top: 12px;

          button{
            line-height: 1;
            -webkit-appearance: none;
            display: inline-block;
            text-decoration: none;
            position: relative;
            @include transition(all, .35s);
            overflow: hidden;
            background: #015BBB;
            color: #fff;
            text-shadow: 0 3px 0px rgba(0, 0, 0, 0.25);
            @include border-radius(46px);
            text-transform: uppercase;
            font-style: italic;
            border: none;
            cursor: pointer;
            @include border-radius(32px);
            padding: 19px 64px 18px;
            font-size: 21px;
            font-weight: 600;
            box-shadow: 0 6px 16px rgba(1, 91, 187, 0.36);

            @media (max-width: 860px){
              font-size: 20px;
              padding: 16px 52px 15px;
            }

            &:hover{
              background: lighten(#015BBB,10);
            }
          }
        }
      }
    }

  }
}
