/* extended styles
-------------------------------------------------------------- */

.typo{
	img{
		max-width:100%;
		height: auto;
		margin-bottom: 2px;
	}
	b,
	strong{
		font-weight: bold;
	}
	p{
		margin-bottom: 12px;

		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		color: black;
		text-decoration: underline;
		position: relative;

		&:hover{
			text-decoration: none;
		}
	}
	em{
		font-style: italic;
	}
	h1{
		font-size: 32px;
		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}
	}
	h2{
		font-size: 28px;
		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}
	}
	h3{
		font-size: 26px;
		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}
	}
	h4{
		font-size: 24px;
		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}
	}
	h5{
		font-size: 22px;
		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}
	}
	h6{
		font-size: 20px;
		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}
	}
	ul{
		display: block;
		margin: 0 0 28px 0;
		list-style: none;
		padding: 0;

		&:last-child{
			margin-bottom: 0;
		}

		li{
			padding-left: 22px;
			margin-bottom: 12px;
			position: relative;

			&:before{
				content: "";
				display: block;
				position: absolute;
				top: 11px;
				left: 2px;
				box-sizing: border-box;
				background-color: black;
				width: 6px;
				height: 6px;
				@include border-radius(50%);
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	ol{
		counter-reset: my-ol-counter;
		display: block;
		margin: 0 0 28px 0;
		list-style: none;
		padding: 0;

		&:last-child{
			margin-bottom: 0;
		}

		li{
			padding-left: 22px;
			margin-bottom: 12px;
			position: relative;

			&:before{
				content: counter(my-ol-counter)'. ';
				counter-increment: my-ol-counter;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background-color: transparent;
				box-sizing: border-box;
				color: #000;
				font-weight: 600;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	blockquote{
		font-size: 18px;
		position: relative;
		padding: 4px 20px 4px 56px;
		margin-bottom: 40px;

		&:last-child{
			margin-bottom: 0;
		}

		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			background-color: grey;
		}

		b,
		strong{
			font-size: 24px;
			font-weight: 700;
		}

		p{
			line-height: 1.34;
			margin-bottom: 10px;
		}

		@media (max-width: 920px) {
			padding: 4px 20px 4px 22px;
		}
	}
	hr{
		margin-bottom: 14px;
		border: none;
		display: block;
		width: 100%;
		height: 2px;
		background-color: black;

		&:last-child{
			margin-bottom: 0;
		}
	}
	table{
		border-top-width: 1px;
		border-left-width: 1px;
		border-top-style: solid;
		border-left-style: solid;
		border-top-color: black;
		border-left-color: black;
		font-weight: normal;
		font-style: normal;
		line-height: normal;
		font-variant: normal;
		text-transform: none;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		margin-bottom: 14px;

		&:last-child{
			margin-bottom: 0;
		}
		tr {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: black;
			td,
			th{
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: black;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: black;
				padding: 20px;
			}
		}
	}
}

.no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.customBlockWrapper{
	display: block;
	position: relative;
	width: 100%;
	z-index: 8;
	@include transform(translateZ(8px));

	.customBlock{
		display: block;
		position: relative;
		width: 100%;
		z-index: 12;
		@include transform(translateZ(12px));
	}
}

.overallButton{
	line-height: 1;

	a{
		display: inline-block;
		text-decoration: none;
		position: relative;
		@include transition(all, .35s);
		overflow: hidden;
		background: #015BBB;
		color: #fff;
		text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
		padding: 20px 74px 19px;
		@include border-radius(46px);
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
		font-style: italic;

		@media (max-width: 1024px){
			font-size: 20px;
			padding: 16px 52px 15px;
		}

		span{
			display: inline-block;
			position: relative;
			z-index: 4;
			@include transform(translateZ(4px));
		}

		&:hover{
			background: lighten(#015BBB,10);
		}
	}

	&.smaller{
		a{
			@include border-radius(32px);
			padding: 17px 34px 16px;
			font-size: 21px;
			font-weight: 600;

			@media (max-width: 1024px){
				font-size: 18px;
				padding: 13px 28px 12px;
			}
		}
	}

	&.shadow{
		a{
			box-shadow: 0 6px 16px rgba(1, 91, 187, 0.36);
		}
	}
}

.custom_big_title_1{
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 36px;
	}
}

.custom_big_title_2{
	font-size: 39px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 35px;
	}
}

.custom_big_title_3{
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 34px;
	}
}

.custom_big_title_4{
	font-size: 37px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 33px;
	}
}

.custom_big_title_5{
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 32px;
	}
}

.custom_big_title_6{
	font-size: 35px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 31px;
	}
}

.custom_big_title_7{
	font-size: 34px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 30px;
	}
}

.custom_big_title_8{
	font-size: 33px;
	font-weight: 700;
	line-height: 1.2;

	@media (max-width: 920px) {
		font-size: 29px;
	}
}
