{% if general_fields.cookie_popup.title and general_fields.cookie_popup.text and general_fields.cookie_popup.button_title %}
<div class="cookiePopupBg"></div>
<div class="cookiePopupWrapper">
    <div class="cookiePopup">
        {% if general_fields.cookie_popup.title %}
        <p class="title">{{ general_fields.cookie_popup.title }}</p>
        {% endif %}
        {% if general_fields.cookie_popup.text %}
        <div class="message typo">{{ general_fields.cookie_popup.text }}</div>
        {% endif %}
        {% if general_fields.cookie_popup.button_title %}
        <p class="overallButton shadow smaller">
            <a href="#close" class="close">
                <span>{{ general_fields.cookie_popup.button_title }}</span>
            </a>
        </p>
        {% endif %}
    </div>
</div>
{% endif %}
